body {
    font-family: 'Poppins', sans-serif;
}
html {
    font-size: 62.5%;
}
header h1 {
    font-size: 2.45rem;
    font-weight: 200;
    color: hsl(234, 12%, 34%);

}

header h2 {
    font-size: 2.45rem;
    font-weight: 600 !important;
    color: hsl(234, 12%, 34%);
}

header p {
    font-size: 1.4rem;
    color: hsl(229, 6%, 66%);
    line-height: 2.58rem;
    
}

.cards {
    width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 3rem;
}



.card {
    width: 100%;
    box-shadow: 0 5px 10px hsla(234, 50%, 35%, 0.1), 0 10px 20px hsla(234, 50%, 35%, 0.1);
    border-radius: 5px;
}

.super {
    border-top: 4px solid hsl(180, 62%, 55%);
  
}
.team {
    border-top: 4px solid hsl(0, 78%, 62%);
  
}
.karma {
    border-top: 4px solid hsl(34, 97%, 64%);
  
}
.calculator {
    border-top: 4px solid hsl(212, 86%, 64%);
  
}

.cards h3 {
    font-size: 2rem;
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}

.card p {
   font-size: 1.3rem;
   color: hsl(229, 6%, 66%);
}

.karma-team {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

@media (min-width: 992px){
    header p {
        width: 65%;
    }
}

 
@media (min-width: 1200px) {
  header p {
    width: 65%;
  }
  
  .cards {
      flex-direction: row;
  }
  .karma-team {
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3rem;
  }
  .card {
      width: 35rem;
  }
  /* .card h3 {
      font-size: 2.2rem;
  }
  .card p {
      font-size: 1.5rem;
      line-height: 2.5rem;
  } */
}
